<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc" version="2.12.6" targetFramework="net45" />
  <package id="Magnesium" version="7.0.0-alpha" targetFramework="net45" />
  <package id="Magnesium.PresentationSurfaces.OpenTK" version="1.0.5-alpha" targetFramework="net45" />
  <package id="Magnesium.Vulkan" version="7.0.0-alpha" targetFramework="net45" />
  <package id="OpenTK" version="2.0.0" targetFramework="net45" />
</packages>